.estadisticas{
    position: relative;
    display: flex;
    padding: 25px 55px;
    gap: 8em;
}
/* .estadisticas::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   } */
.estadisticas svg{
    width: 150px;
    height: 150px;
}