.container_filter{
    position: sticky;
    top: 44px;
    max-width: 100%;
    min-width: 300px;
    height: 550px;
    z-index: 0;
}
.container_filter .group{
    max-width: 100%;
}
.container_filter ol{
    list-style: none;
    padding: 10px 0;
}
.container_filter ol li{
    position: relative;
    color: var(--color-terciario);
    font-size: var(--fz-text-titulo3);
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid var(--color-terciario);
    cursor: pointer;
    transition: all .3s ease;
}
.container_filter ol li.active{
    color: var(--color-secundario);
    padding: 10px 0;

    font-weight: 600;
}
.container_filter ol li:hover{
    color: var(--color-secundario);
    border-bottom: 1px solid transparent;
}
.container_filter ol li::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 5px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-secundario);
    transition: all .3s ease;
}
.container_filter ol li:hover::after{
    opacity: 1;
    visibility: visible;
    width: 100%;
}

@media screen and (max-width:1079px){
    .container_filter{
        display: none;
    }
}