.section_inicio_principal{
    max-width: 1150px;
    width: 100%;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-secundario);
    gap: 5em;
}
.section_inicio_principal article{
    flex-basis: 300px;
    flex-grow: 1;
}
.section_inicio_principal article .titulo{
    color: var(--color-principal);
    font-size: 36px;
    padding-bottom: 30px;
}
.section_inicio_principal article .description{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: var(--fz-text-titulo3);
    text-align:justify;
}
.section_inicio_principal .slider_text{
    max-width: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_inicio_principal .slider_text .titulo{
    color: var(--color-secundario);
}
@media screen and (max-width: 1090px){
    .section_inicio_principal {
        justify-content: center;
    }
}
