.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.group .input {
  width: 100%;
  line-height: 28px;
  padding: 0 1rem;
  padding-right: 2.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-quinto);
  color: #8b8b8b;
  transition: 0.3s ease;
  z-index: 1;
}

.group .input::placeholder {
  color: #9e9ea7;
}

.group .input:focus,
.group input:hover {
  outline: none;
  border-color: var(--color-terciario);
  background-color: #fff;
  box-shadow: 0 0 0 4px var(--color-quinto);
}

.group svg {
  position: absolute;
  top: 1.5px;
  right: 1.5px;
  background-color: var(--color-quinto);
  border-radius: 0 8px 8px 0;
  color: #9e9ea7;
  width: 28px;
  height: 28px;
  z-index: 2;
}